// Body
$body-bg: #efefef;
$body-bg-dashboard: #F5F1F1;
$input-height: 50px;

// Typography
$font-family-base: 'Avenir', Helvetica, Arial, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$black: #333333;
$light-blue: #1D84ED;
$blue: #3462AA;
$dark-blue: #254981;
$text-black: #575757;
$border-color: #D3D3D3;
$grey: #A1A1A1;
$light-green: #32CF9B;
$green: #4DC48E;
$stripe: #28a0e5;
$teal: #00DBF1;

//Widths
$side-bar-width: 300px;


$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #da2525;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Layout Elements
$header-height: 150px;