body {
    // some body styles here
    font-family: $font-family-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    text-align: center;
    color: #2c3e50;
}
#nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
}
.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
    label {
      margin-bottom: 0.25rem;
    }
    label,
    input,
    select {
      width: 100%;
      text-align: left;
    }
    &.required {
      label::after {
        content: '(required)';
        margin-left: 0.5rem;
        color: grey;
        font-size: 0.8em;
      }
    }
}
.table {
    th,
    td {
      text-align: left;
    }
}